# path to the SQLite database file
DB_FILE_PATH=./db/sqlite.db

# folder containing input JSON files
INPUT_PATH=data

# maximum number of records imported in a single batch
MAX_BATCH_SIZE=500

# folder where output files will be saved
OUTPUT_PATH=data/list